---
layout: default
---

<div class="home">
  <nav id="top" class="main-nav">
  {% for post in site.posts %}
    {% if post.category == "location" %}

      <h2>
      {% if post.scroll-id %}
        <a class="scroll" href="#{{ post.scroll-id }}">{{ post.title }}</a>

      {% else %}
        <a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>

      {% endif %}
      </h2>


    {% endif %}
  {% endfor %}
  </nav>

  {% for post in site.posts %}
    {% if post.category == "location" %}

      {% if post.scroll-id %}
        <h1 id="{{ post.scroll-id }}" class="{{ post.scroll-id }}">{{ post.title }}</h1>
        <a class="scroll" href="#top">back to top</a>
      {% else %}
        <h1>{{ post.title }}</h1>

      {% endif %}

      {{ post.content }}

    {% endif %}
  {% endfor %}
</div>
