div.location-map {
  position: relative;
  @include span-columns(12);

  a:hover em {
    color: #000;
    text-decoration: underline;
  }
  span.marker {
    position: absolute;
    width: pem(15);
    height: pem(15);
    background-color: #FCF;
    @include rounded(50%);

    &.all {
      color: transparent;
    }
  }
  span.marker em {
    position: absolute;
    width: pem(120);
    // background: #CCC;
    text-align: right;
    right: 115%;
    top: -2px;
    line-height: 1em;

  }
}
