
body {
  font-family: 'raleway-medium';
}
p {
  display: block;
  padding: 0 0 1.8em;
}
.post-content {
  line-height: 1.8em;
}

sub,
sup {
  font-size: 0.4em;
  baseline-shift: super;
  vertical-align: 0.75em
}
.italic {
  font-style: italic;
}
a {
  text-decoration: none;
}
a.link {
  text-decoration: underline;
}

// main navigation:
nav.mn div.block li.top > a {
  font-size: 18px;
  letter-spacing: -0.05em;
}


.post-meta {
  // font-family: 'not_sans_italic', serif;
  font-size: 0.8em;
  font-size: 1.0em;
}

footer.site-footer,
footer.site-footer a {
}
