nav.site-nav {
  display: block;
  float: left;
  clear: none;
  margin: 0;
  padding: 0;
}

nav.site-nav > ul {
  position: relative;
  left: auto;
  top: auto;
  width: auto;

  display: block;

  background-color: #FCF;

  li,
  li a {
    clear: none;
    width: auto;
    color: #000;
    font-size: 0.85em;
  }
  li a {
    padding: ($main_gutter * 0.25) 0.25em;
    transition: color 0.25s ease-in-out;

    .no-touchevents &:hover {
      color: blue;
      transition: color 0.25s ease-in-out;
    }
  }
}
