
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$base-font-color: #FCF;
$color-page-bg: #FFF;

// BAHAMAS colors:
$color-blue: rgb(0, 175, 219); // #00AFDB
$color-orange: rgb(251, 176, 52); // #FBB034
$color-green: rgb(122, 193, 67); // #7AC143
