---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="location-map">
    <img src="{{ site.url }}/images/grand-abaco-01.svg" />

    {% for post in site.posts %}
    {% if post.category == 'location' %}
      {% if post.map-coord-x && post.map-coord-y %}
      <a href="{{ post.url | prepend: site.url }}">
        <span class="marker all" style="left: {{ post.map-coord-x }}%; top:{{ post.map-coord-y }}%">
          <em>{{ post.title }}</em>
        </span>
      </a>
      {% endif %}
    {% endif %}
    {% endfor %}

  </div>

  <ul class="post-list destinations">
  {% for post in site.posts %}
  {% if post.category == 'location' %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.url }}">{{ post.title }}</a>
      </h2>
    </li>
  {% endif %}
  {% endfor %}
  </ul>

</article>
